.nav-container {
    height: 15vh;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--my-orange);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5vh solid black;
    z-index: 100;
}

.nav-container>* {
    margin: 0 5%;
}

.nav-title {
    color: white;
    font-size: 2.1vw;
}

.logout-btn {
    height: 40%;
    min-width: 10%;
    border: 1px solid black;
    background-size: 200%;
    background-position: 0% 0%;
    // background-color: #1b6c86;
    background-image: linear-gradient(90deg,
            var(--my-blue) 0%,
            var(--my-blue) 50%,
            var(--my-orange) 50%,
            var(--my-orange) 100%);
    border-radius: 15px;
    cursor: pointer;
    transition: transform 300ms,
        background-position 300ms cubic-bezier(.47, .1, 1, .63);
    transition-delay: 0.0s, 0.15s;

}

.logout-btn:hover {
    transform: scale(1.1);
    background-position: -100% 100%;
}

.logout-text {
    color: white;
    font-weight: 400;
    margin: 0;
}