.img-overlay-wrap {
    position: relative;
    display: inline-block;
}

#svg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

// #sigma-chart {
// }

.sigma-selector {
    stroke-width: 0.14%; // 10px ratio to 7016 => (10*100)/7016
    fill: transparent;
    z-index: 3;
    cursor: pointer;
}

.sigma-selector:hover {
    stroke: #fff;
}

.img-overlay-wrap img { /* <= optional, for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
 }