<div class="container">
    <div class="img-overlay-wrap">
        <img id="sigma-chart" src="../../assets/sigma_scale.jpg" alt="sigma chart">
        <svg id="svg-overlay" width="100%" height="100%">
            <rect *ngFor="let i of numbers" class="sigma-selector"
                [ngClass]="user != undefined  && user.sigma == i ? 'selected-sigma' : ''"
                [attr.x]="calculateCoordsArea(i).x +'%'" [attr.y]="calculateCoordsArea(i).y +'%'" width="9.67%"
                height="6.84%" (click)="setSelected(i)" />
        </svg>
    </div>
    <div id="sidebar">
        <section id="tools">
            <app-search-bar (valueChange)="setFilter($event)"></app-search-bar>
            <button id="random-button" (click)="setRandom()">Random</button>
        </section>

        <section id="friends">
            <h4>Friends</h4>
            <div *ngFor="let friend of (allFriends | userSearch:filter)" class="friend">
                <p>{{ friend.name }}</p>
                <div class="buttons">
                    <img class="remove-friend" (click)="removeFriend(friend)" src="../../assets/remove-svg.svg">
                    <img class="toggle-sigma-friend visible" (click)="toggleSigmaVisibility($event)" src="../../assets/eye-open-svg.svg">
                </div>
            </div>
            <p *ngIf="(allFriends | userSearch:filter).length === 0">
                No friend found
            </p>
        </section>

        <section id="other-users">
            <h4>Other users</h4>
            <div *ngFor="let otherUser of (allOtherUsers | userSearch:filter)" class="other-user">
                <p>{{ otherUser.name }}</p>
                <div class="buttons">
                    <img class="remove-friend" (click)="addFriend(otherUser)" src="../../assets/add-svg.svg">
                </div>
            </div>
            <p *ngIf="(allOtherUsers | userSearch:filter).length === 0">
                No user found
            </p>
        </section>

    </div>
</div>