.container {
    display: flex;
    flex-direction: row;
}

.img-overlay-wrap {
    width: 70vw;
    position: relative;
    display: inline-block;
}

#svg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.sigma-selector {
    stroke-width: 0.14%; // 10px ratio to 7016 => (10*100)/7016
    fill: transparent;
    z-index: 3;
    cursor: pointer;
}

.sigma-selector:hover {
    stroke: #fff;
}

.selected-sigma {
    stroke: #fff;
}

.img-overlay-wrap img {
    display: block;
    max-width: 100%;
    height: auto;
}

#sidebar {
    width: 30vw;
    height: auto;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    *:first-child {
        margin-top: 5vh;
    }
}

#friends, #other-users {
    width: 75%;
}

#friends {}

#other-users {}