#svg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#sigma-chart {
    // z-index: -1;
}

.sigma-selector {
    stroke-width: 5px;
    fill: transparent;
    z-index: 3;
    cursor: pointer;
}

.sigma-selector:hover {
    stroke: #fff;
}

.img-overlay-wrap {
    position: relative;
    display: inline-block;
    /* <= shrinks container to image size */
}