<div class="container">
    <div class="img-overlay-wrap">
        <div id="chart-loader" *ngIf="sigmaChartLoading">
            <app-loader></app-loader>
        </div>
        <img id="sigma-chart" [hidden]="sigmaChartLoading" (load)="onSigmaChartLoad()"
            src="../../assets/sigma_scale.jpg" alt="sigma chart">

        <svg id="svg-overlay" width="100%" height="100%">
            <rect *ngFor="let i of numbers" class="sigma-selector" [attr.x]="calculateCoordsArea(i).x +'%'"
                [attr.y]="calculateCoordsArea(i).y +'%'" width="9.67%" height="6.84%" (click)="setSelected(i)"
                [ngStyle]="showSigma(i) ? getStrokeStyle(i) : {}" />
        </svg>
    </div>
    <div id="sidebar">
        <section id="tools">
            <app-search-bar (valueChange)="setFilter($event)"></app-search-bar>
            <button id="random-button" (click)="setRandom()">Random</button>
        </section>

        <section id="friends">
            <h4>Friends</h4>
            <div *ngFor="let friend of (allFriends | friendSearch:filter)" class="friend">
                <p>{{ friend.data.name }}</p>
                <div class="buttons">
                    <img class="remove-friend" (click)="removeFriend(friend)" src="../../assets/remove-svg.svg">
                    <img class="toggle-sigma-friend visible" (click)="toggleSigmaVisibility(friend)"
                        [src]="friend.showSigma ? '../../assets/eye-open-svg.svg' : '../../assets/eye-closed-svg.svg'">
                    <input type="color" [value]="friend.color" (change)="setFriendColor(friend, $event)">
                </div>
            </div>
            <p *ngIf="(allFriends | friendSearch:filter).length === 0">
                No friend found
            </p>
        </section>

        <section id="other-users">
            <h4>Other users</h4>
            <div *ngFor="let otherUser of (allOtherUsers | userSearch:filter)" class="other-user">
                <p>{{ otherUser.name }}</p>
                <div class="buttons">
                    <img class="remove-friend" (click)="addFriend(otherUser)" src="../../assets/add-svg.svg">
                </div>
            </div>
            <p *ngIf="(allOtherUsers | userSearch:filter).length === 0">
                No user found
            </p>
        </section>

    </div>
</div>