:root {
    --my-orange: #FF7200;
    --my-blue: #1b6c86;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
}

p {
    font-size: smaller;
}

h3 {
    font-size: larger;
}